/* Variabes */
/* Mixin's */
body {
  background: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-camouflage-gradient-background-color-mixing-apple-wind-image_34341.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-size: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  align-items: center;
}


.wrappper {
  width: 100%;
  margin: 0 auto;
}
.wrappper:after {
  content: "";
  display: table;
  clear: both;
}

.glass{
  background:  linear-gradient(107.18deg, rgba(255, 255, 255, 0.7) 1.84%, rgba(255, 255, 255, 0.4) 100%);
  border-radius: 1rem;
  width: 70%;
  margin: 0 auto;
}

canvas {
  color: #000;
  border: dashed 0.125rem;
  border-color: linear-gradient(to right, red, purple);
  padding: 0.938rem;
  /* border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #21ff00, #ff0000);
   */
}

#stickman {
  width: 40%;
  margin: 1.25rem auto;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 0.313rem 0;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

#alphabet {
  margin: 0.938rem auto;
  max-width: 56.25rem;
}
#alphabet:after {
  content: "";
  display: table;
  clear: both;
}

#alphabet li {
  float: left;
  margin: 0 0.625rem 0.625rem 0;
  list-style: none;
  width: 3.438rem;
  height: 2.188rem;
  padding-top: 0.938rem;
  /* background: #21ff00; */
  color: #747474;
  font-size: 1.125rem;
  cursor: pointer;
  -moz-border-radius: 0.313rem;
  -webkit-border-radius: 0.313rem;
  border-radius: 0.313rem;
  -khtml-border-radius: 0.313rem;
  
  border: solid 1px rgb(180, 180, 180);
  text-transform: capitalize;
}
#alphabet li:hover {
  background: #fff;
  border: solid 1px rgb(180, 180, 180);
  color: #292b2c;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 0.625rem;
  font-size: 1.6rem;
}

.active {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  cursor: default;
}
.active:hover {
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#mylives {
  font-size: 1.6rem;
  text-align: center;
  display: block;
}

button {
  -moz-border-radius: 0.313rem;
  -webkit-border-radius: 0.313rem;
  border-radius: 0.313rem;
  -khtml-border-radius: 0.313rem;
  background-color: white;
  color:  #747474;
  border: solid 0.063rem #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 1.125rem 0.625rem;
  width: 11.25rem;
  margin: 0.625rem;
  outline: none;
}
button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* background: #ff0000; */
  border: solid 0.063rem #000;
  color: #292b2c;
}

@media (max-width: 47.938rem) {
  #alphabet {
    padding: 0 0 0 0.938rem;
  }
}
@media (max-width: 30rem) {
  #alphabet {
    padding: 0 0 0 1.563rem;
  }
  h1 {
    font-size: 1.3rem;
  }
  
  h2 {
    font-size: 0.8rem;
  }
  
  p {
    font-size: 0.8rem;
  }
  button {
    font-size: 1rem;
    padding: 0.563rem 0.313rem;
    width: 5rem;
    margin: 0.313rem;
    background-color: white;
  }
  #mylives{
    font-size: 0.8rem;
  }
  #my-word li {
    font-size: 1rem;
    font-weight: bold;
    padding: 0 0.313rem;
  }
  #alphabet li{
font-size: 0.8rem;
width: 1.688rem;
height: 1rem;
padding-top: 0.2rem;
color: #000;
  }
  .glass{
    background:  linear-gradient(107.18deg, rgba(255, 255, 255, 0.7) 1.84%, rgba(255, 255, 255, 0.4) 100%);
    border-radius: 1rem;
    width: 90%;
    margin: 0 auto;
  }
  #stickman {
    width: 60%;
    margin: 0rem auto;
}
}